<?xml version="1.0" encoding="utf-8"?>
<LuiConfig>
  <ApplicationParameters>
    <ConfigFile>./config.xml</ConfigFile>
    <LogFile>./log.txt</LogFile>
    <LogLevel>DEBUG</LogLevel>
  </ApplicationParameters>
  <LuiObjectParametersList>
    <CameraParametersList>
      <LuiObjectParameters xmlns:i="http://www.w3.org/2001/XMLSchema-instance" z:Id="1" xmlns:d1p1="http://schemas.datacontract.org/2004/07/lasercom.camera" i:type="d1p1:CameraParameters" xmlns:z="http://schemas.microsoft.com/2003/10/Serialization/" xmlns="http://schemas.datacontract.org/2004/07/lasercom.objects">
        <Name z:Id="2">DummyCamera</Name>
        <TypeName z:Id="3">lasercom.camera.DummyAndorCamera</TypeName>
        <d1p1:CalFile z:Id="4" />
        <d1p1:Dir z:Id="5">./</d1p1:Dir>
        <d1p1:Temperature>0</d1p1:Temperature>
      </LuiObjectParameters>
    </CameraParametersList>
    <BeamFlagsParametersList>
      <LuiObjectParameters xmlns:i="http://www.w3.org/2001/XMLSchema-instance" z:Id="1" xmlns:d1p1="http://schemas.datacontract.org/2004/07/lasercom.control" i:type="d1p1:BeamFlagsParameters" xmlns:z="http://schemas.microsoft.com/2003/10/Serialization/" xmlns="http://schemas.datacontract.org/2004/07/lasercom.objects">
        <Name z:Id="2">Placeholder</Name>
        <TypeName z:Id="3">lasercom.control.DummyBeamFlags</TypeName>
        <d1p1:PortName i:nil="true" />
      </LuiObjectParameters>
    </BeamFlagsParametersList>
    <DelayGeneratorParametersList>
      <LuiObjectParameters xmlns:i="http://www.w3.org/2001/XMLSchema-instance" z:Id="1" xmlns:d1p1="http://schemas.datacontract.org/2004/07/lasercom.ddg" i:type="d1p1:DelayGeneratorParameters" xmlns:z="http://schemas.microsoft.com/2003/10/Serialization/" xmlns="http://schemas.datacontract.org/2004/07/lasercom.objects">
        <Name z:Id="2">DummyDDG</Name>
        <TypeName z:Id="3">lasercom.ddg.DummyDigitalDelayGenerator</TypeName>
        <d1p1:GpibAddress>0</d1p1:GpibAddress>
        <d1p1:GpibProvider xmlns:d2p1="http://schemas.datacontract.org/2004/07/lasercom.gpib" i:nil="true" />
      </LuiObjectParameters>
    </DelayGeneratorParametersList>
    <GpibProviderParametersList />
  </LuiObjectParametersList>
</LuiConfig>